@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=WDXL+Lubrifont+TC&display=swap');

:root{
    /* Colir Variables */
    --bg-blue: #0A0B0D;
    --txt-white: #e6f1fd;
    --dark-blue: #141c22;
    --muted-blue: #09263d;
    --blue: #0f4d7d;
    --red: ;
    --gold: #F5C345;
    --light-yellow: #f7ca58;
    --muted-green: #225f18;
    --green: #4a9f3c;

    /* Element Properties */
    --big-font: 1.5em;
    --thin-border-grey: solid 1.5px #5f636f;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'WDXL Lubrifont TC', sans-serif;
}

body {
    background-color: var(--bg-blue);
    color: var(--txt-white);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Pixelify Sans', sans-serif;}

button {
    cursor: pointer;
    transition: all 200ms;
    user-select: none;

    border: unset;
    background-color: unset;
    color: var(--txt-white);
}

button:active{scale: 0.9;}

input{accent-color: var(--blue);}